#map {

    margin-top: 20px;
    height: 700px;
    width: 100%;
}

.mapSelector {
    padding: 10px 5px 10px 5px;
    border: 1px solid #CCCCCC;
    background-color: #FAFAFA;
}

.buttonSelectors {
    margin-bottom: 50px;
}

#mapTitle {
    padding-left: 2px;
}

.statsImage {
    /*width: 500px;*/
    padding: 20px 20px;
    margin: 5px;
    height: 300px;
    border: 1px solid #F1F1F1;
}